<html>
    <head>
        <title></title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <form method="POST" action="/">
                {% csrf_token %}
                <div class="form group">
                <label><b> User name:</b></label>
                {{form.uname}}
            </div>

            <div class="form group">
                <label><b> User email:</b></label>
                {{form.uemail}}
            </div>

            <div class="form group">
                <label><b> User password:</b></label>
                {{form.upassword}}
            </div>
            <input type="submit" name="insert" value="insert" class="btn btn-primary">
         
            </form>
        </div>

    </body>
</html>