<html>
    <head>
        <title></title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    </head>
    <body>
        <div class="container">
            <table class="table table-bordered text-center shadow">
                 <tr>
                    <th>user id</th>
                    <th>user name</th>
                    <th>user email</th>
                    <th>user password</th>
                    <th>user delete</th>
                    <th>user edit</th>

                 </tr> 
                 {% for user in users %}
                 <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.uname}}</td>
                    <td>{{user.uemail}}</td>
                    <td>{{user.upassword}}</td>
                    <td><a href="/delete/{{user.id}}" class="btn btn-danger btn-sm">delete</a></td>
                    <td><a href="/edit/{{user.id}}" class="btn btn-success btn-sm">edit</a></td>
                 </tr>
                 {% endfor %}

            </table>
        </div>

    </body>
</html>